@import 'common/variable.scss';
@import 'common/mixin.scss';

.banner {
	width: 100%;
	display: inline-block;
}

.person_info {
	background-color: #f4f4f4;
	padding-top: 22px;
	padding-bottom: 22px;

	line-height: 1.4;

	.info {
		.tel {
			color:  #7c7c7c;
			font-size: 30px;
		}
	
		.name {
			font-size: 36px;
		}
	}

	.control {
		.button {
			width: 78px;
			height: 78px;

			background-color: $action-color;
			border-radius: 50%;
			margin-left: 30px;
			background-size: 70%;
			background-position: center;
			background-repeat: no-repeat;

			&.tel {
				@include bg-image("./images/tel");
			}

			&.sms {
				@include bg-image("./images/msg");
			}
		}
	}
}

.info_list {
	li {
		display: flex;
		height: 88px;
		align-items: center;
		justify-content: space-between;
		border-bottom: 2px solid #f4f4f4;

		.arr_right {
			width: 17px;
			height: 28px;
			background-size: contain;
			margin-right: 20px;

			@include bg-image("./images/arr_right");
		}

		.icon {
			width: 54px;
			height: 52px;
			margin-right: 36px;
			background-repeat: no-repeat;
			background-position: center center;

			background-size: contain;
		}
	}

	@for $i from 1 through 7 {
		li:nth-child(#{$i}) .icon {
			@include bg-image("./images/icon#{$i}");
		}
	}
}