@import 'common/variable.scss';
@import 'common/mixin.scss';

.banner {
	width: 100%;
	display: block;
}

.person_info {
	background-color: #f4f4f4;
	padding-top: 10px;
	padding-bottom: 10px;

	line-height: 1.4;

	.info {
		.tel {
			color:  #7c7c7c;
			font-size: 16px;
		}
	
		.name {
			font-size: 18px;
		}
	}

	.control {
		.button {
			width: 36px;
			height: 36px;

			background-color: $action-color;
			border-radius: 50%;
			margin-left: 10px;
			background-size: 70%;
			background-position: center;
			background-repeat: no-repeat;

			a {
				width: 36px;
				height: 36px;
				display: inline-block;
			}

			&.tel {
				@include bg-image("./images/tel");
			}

			&.sms {
				@include bg-image("./images/msg");
			}
		}
	}
}

.info_list {
	li {
		display: flex;
		height: 56px;
		align-items: center;
		justify-content: space-between;
		border-bottom: 2px solid #f4f4f4;
		font-size: 16px;

		.arr_right {
			width: 17px;
			height: 24px;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
			margin-right: 6px;

			@include bg-image("./images/arr_right");
		}

		.icon {
			width: 27px;
			height: 26px;
			margin-right: 18px;
			background-repeat: no-repeat;
			background-position: center center;

			background-size: contain;
		}
	}

	@for $i from 1 through 7 {
		li:nth-child(#{$i}) .icon {
			@include bg-image("./images/icon#{$i}");
		}
	}
}