@import "common/variable.scss";

body {
	background-color: #f4f4f4;
}

.router_box {
	background-color: white;
	height: 64px;
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 100;
}
.router_list {
	padding-top: 24px;

	a {
		font-size: 20px;
		color: #383838;
		padding: 0 26px;
		display: inline-block;
		line-height: 2;

		&.now {
			line-height: 1.57;
			font-size: 22px;
			border-bottom: 5px solid $action-color;
		}
	}
}

.router_container {
	position: relative;
	margin-top: 64px;
	height: calc(100vh - 64px);
	overflow-y: auto;

	.Router {
		position: absolute;
		transition: all 0.377s ease;
		will-change: transform;
		top: 0;
		width: 100%;
	}

	.slide-left-enter,
	.slide-right-leave-active {
		opacity: 0;
		transform: translate3d(-100%, 0, 0);
	}
  
	.slide-left-leave-active,
	.slide-right-enter {
		opacity: 0;
		transform: translate3d(100%, 0, 0);
	}
}