@import 'common/mixin.scss';
@import 'common/variable.scss';

.item {
	background: white;
	padding: 10px 12px;
	border-top: 10px solid #f4f4f4;

	.item_name {
		color: #383838;
		font-size: 18px;
		flex: 6.4em 0;
	}

	.chose_area {
		flex: 1;

		.info_value {
			color:  #a3a3a3;
			font-size: 18px;
		}
	}
}