@import 'common/mixin.scss';

.index_list {
	color: #5e5e5e;

	.icon_box {
		width: 100%;
		padding: 12px 0;

		.i_index {
			width: 28px;
			height: 28px;
			display: inline-block;
		}

		.index_font {
			font-size: 16px;
			color: #383838;
			padding-left: 0.5em;
		}
	}

	.arr_right {
		width: 16px;
		height: 28px;
		background-size: contain;
		background-repeat: no-repeat;
		@include bg-image("./images/arr_right");
	}
}

.search {
	padding: 8px 10px;
	background-color: white;

	.input_box {
		height: 30px;
		padding: 0 8px;
		margin: 0 10px;
		flex: 1;
		background-color: #f4f4f4;
		border-radius: 15px;

		input {
			background-color: transparent;
			border: none;
			outline: none;
			flex: 1;
			color: #cdcdcd;
			font-size: 16px;
		}

		.i_search {
			width: 18px;
			height: 18px;
			margin-right: 12px;
			background-size: contain;
			background-repeat: no-repeat;
			@include bg-image("./images/search");
		}
	}

	.avatar {
		width: 20px;
		height: 21px;
		background-size: contain;
		background-repeat: no-repeat;
		@include bg-image("./images/avatar");
	}
}