@import 'common/mixin.scss';
@import 'common/variable.scss';

.item {
	background: white;
	padding: 10px 12px;
	border-top: 10px solid #f4f4f4;

	.item_name {
		color: #383838;
		font-size: 18px;
		flex: 6.4em 0;
	}

	.chose_area {
		flex: 1;

		.input_area {
			.item_box {
				flex: 1;

				.item {
					margin-right: 1em;
					border: 0;
					padding: 0;
					font-size: 16px;
					color: #a3a3a3;
				}
			}

			.right_arr {
				width: 12px;
				height: 24px;

				@include bg-image("./images/arr_right");
				background-size: contain;
				background-repeat: no-repeat;
			}
		}

		.badeg_box {
			padding-top: 10px;

			ul {
				flex-wrap: wrap;

				li {
					width: 33.33%;
					margin-bottom: 10px;

					.badeg {
						min-width: 4.4em;
						height: 24px;
						line-height: 24px;
						font-size: 16px;
						text-align: center;
						color: white;
						background-color: #fed87f;
						border-radius: 3px;
						display: inline-block;

						&.active {
							background-color: $action-color;
						}
					}
				}
			}
		}
	}
}